# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
bin/
obj/
build/
.idea/
**/packages/*
*.ipch
Cpp/CppPlayground/.vs/CppPlayground/v15/.suo
*.db
*.opendb
*.user
*.exe
*.log
*.obj
*.tlog
*.pdb
*.ilk
*.lock
*.ide
*.ide-shm
ComputerUptime/.vs/ComputerUptime/v15/.suo
*.ide-wal
*.out
.htaccess
.DS_Store