h1 {
  /* font-family: "Oswald", sans-serif; */
  font-size: 31px;
  line-height: 31px;
  text-align: center;
  font-weight: 300;
  color: var(--dark-headline-color);
}

h1 > span {
  width: 110%;
  background-image: linear-gradient(transparent 60%, var(--accent-color2) 55%);
}

/* skills section */

.skills-chips li {
  display: inline-block;
  border: solid 1px var(--border-color);
  white-space: nowrap;
  border-radius: 5px;
  padding: 8px 14px;
  margin-right: 8px;
  margin-bottom: 14px;
}

/* section samples */

.company-benefits::before {
  content: "Company benefits - ";
  font-weight: 700;
  color: var(--dark-headline-color);
}

.personal-benefits::before {
  content: "What I learned - ";
  font-weight: 700;
  color: var(--dark-headline-color);
}

/* side projects */

.side-project {
  max-width: var(--first-breakpoint);
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

.side-project-link {
  display: block;
  color: var(--dark-text-color);
  text-decoration: none;
  outline: none;
}

.read-more {
  font-weight: 700;
  text-decoration: underline;
}

@media only screen and (min-width: 800px) {
  .value {
    display: grid;
    grid-template-columns: 200px auto auto;
  }

  .sample {
    display: grid;
    grid-template-columns: max-content var(--small-space) auto;
  }
}