@import url('https://fonts.googleapis.com/css?family=Lato:400|Playfaire+Display:700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --background-color1: #1f2438;
  --background-color2: #fff;
  --background-color3: #ededed;
  --shadow-color: #cccccc;
  --accent-color1: #d1ad73;
  --accent-color2: #ead3a9;
  --dark-headline-color: rgba(0, 0, 0, 0.85);
  --dark-text-color: #1f2438;
  --light-text-color: rgba(255, 255, 255, 0.85);
  --border-color: rgba(0, 0, 0, 0.33);
  --image-border-color: #d2d2d2;
  --small-space: 24px;
  --medium-space: 48px;
  --large-space: 96px;
  --first-breakpoint: 800px;
}

.small-spacer {
  width: var(--small-space);
  height: var(--small-space);
}

.medium-spacer {
  width: var(--medium-space);
  height: var(--medium-space);
}

.large-spacer {
  width: var(--large-space);
  height: var(--large-space);
}

.separator {
  width: 72px;
  height: 4px;
  background-color: var(--accent-color2);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: white;
  color: var(--dark-text-color);
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 49px;
  line-height: 65px;
  text-align: center;
  font-weight: 700;
  color: var(--dark-headline-color);
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  white-space: nowrap;
}

header {
  background-image: url("keyboard2.png");
  background-color: var(--background-color1);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.header-content {
  color: var(--light-text-color);
  padding: var(--large-space) 24px;
  max-width: var(--first-breakpoint);
  margin: auto;
}

header h1 {
  color: var(--accent-color1);
  max-width: 550px;
  text-align: left;
  line-height: 54px;
}

header .mission {
  max-width: 550px;
}

.cta {
  display: block;
  background-color: var(--accent-color1);
  color: var(--dark-text-color);
  width: 264px;
  text-align: center;
  text-decoration: none;
  line-height: 48px;
}

.light-background {
  background-color: var(--background-color2);
}

.dark-background {
  background-color: var(--background-color3);
}

.section-content {
  padding-top: var(--large-space);
  padding-bottom: var(--large-space);
  padding-left: 24px;
  padding-right: 24px;
  max-width: var(--first-breakpoint);
  margin: auto;
}

.narrow-section {
  max-width: 600px;
}

.shadowed-image {
  border-radius: 8px;
  filter: drop-shadow(2px 2px 5px var(--shadow-color));
  border: 1px solid var(--image-border-color);
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: var(--light-text-color);
  padding: var(--large-space) var(--small-space);
  background-color: var(--background-color1);
}

@media only screen and (min-width: 800px) {
  :root {
    --small-space: 24px;
    --medium-space: 72px;
    --large-space: 144px;
  }

  .value {
    display: grid;
    grid-template-columns: 200px auto auto;
  }

  .sample {
    display: grid;
    grid-template-columns: max-content var(--small-space) auto;
  }
}