.side-project {
    padding-top: var(--small-space);
    padding-bottom: var(--small-space);
    padding-left: var(--small-space);
    padding-right: var(--small-space);
    max-width: var(--first-breakpoint);
    margin: auto;
  }
  
  .side-project > p {
    padding-bottom: var(--small-space);
  }

  .side-project > p:last-child {
    padding-bottom: 0;
  }
  
  .side-project-image {
    text-align: center;
  }
  
  .side-project-image > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  #side_project_icons_img {
    max-width: 585px;
  }

  #side_project_icons_new_img {
    max-width: 736px;
  }

  #test_coverage_img {
    max-width: 704px;
  }

  ol {
      margin-left: var(--small-space);
  }

  ul {
    margin-left: var(--small-space);
    }

  li {
      padding-bottom: var(--tiny-space);
  }

  li:last-child {
    padding-bottom: 0;
  }